body { font-family: sans-serif; font-size: 10px; margin: 0px; }

h1 { font-size: 12px; font-weight: bold; display:inline; }
h2 { font-size: 12px; font-weight: bold; color: #ffffff; }
h1,h2 { margin: 0px; }

a { color: #AA3333; }
a:link { text-decoration:none }
a:visited { text-decoration:none }
a:hover { text-decoration:underline }
a:active { text-decoration:underline }

ul { margin: 4px; }

#hd { background-color: #5a779c;
		margin: 4px;
		padding: 4px;
		color: #ffffff;
}
#hd h1 { font-size: 24px;
		display:inline;
		vertical-align: text-bottom;
		}

.inline { display:inline; }
.white_text { color: #ffffff; }
span.bold { font-weight:bold; }
#inline_submit { display:inline; }

.instructions { font-size: 10px; font-style: italic; }

/* MODULE STYLES */
#currently_playing {
	background-color: #edebf8;
    background-image:url('/media/img/bg_fade.jpg');
    background-repeat:repeat-x;
    margin: 4px;
    padding: 4px;
}
#currently_playing_text, #currently_playing_rating { 
	padding: 5px;
	padding-bottom:2px;
}
#currently_playing_text {
	float:left;
}
#currently_playing_rating {
	float:right;
}

#song_queue { background-color: #edebf8;
			  background-image:url('/media/img/bg_fade.jpg');
			  background-repeat:repeat-x;
			  margin: 4px;
		  	  padding: 3px;
			}
#song_queue li { font-size: 10px;
				 list-style-type: none;
				}
			 
#song_search { 	background-color: #edebf8;
				background-image:url('/media/img/bg_fade.jpg');
				background-repeat:repeat-x;
				margin: 4px;
		  		padding: 4px;
			  }
			 
#song_search_results { background-color: #edebf8;
						background-image:url('/media/img/bg_fade.jpg');
						background-repeat:repeat-x;
						margin: 4px;
		  	  			padding: 4px;
					}
#song_search_results li { font-size: 10px;
						  list-style-type: none;}


#upload_tool {  background-color: #edebf8;
				background-image:url('/media/img/bg_fade.jpg');
				background-repeat:repeat-x;
				margin: 4px;
		  	    padding: 4px;
			  }
					
#ft { background-color: #DDDDDD;
	  	font-size: 9px;
	  	margin: 4px;
		padding: 4px;
	}

/* SONG QUEUE STYLES */
.recently_played_track { color: #888888;}
.currently_playing_track { color: #44BB44;
							font-weight: bold; 
							background-color: #ffffff;
						}
.currently_playing_track span { color: #666666;
								font-weight: bold;
}
.now_playing { color: #456782;
}
.upcoming_requested_track { color: #222222; font-weight: bold; }
.upcoming_random_track { color: #222222;}