<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{page_title}}</title>
   
   <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
   <link rel="stylesheet" href="{{MEDIA_URL}}css/default.css" type="text/css" />	
   
   <script type="text/javascript" src="{{MEDIA_URL}}js/prototype.js"></script>
   <script type="text/javascript">
	   /* 
	   Loads a div with the result of an Ajax Updater request (via Prototype.js).
	   div_target (string): ID of the <div> tag whose contents will be updated.
	   url (string): The URL to request and update into the <div> from.
		*/
		function load_div(div_target, url) {
		   new Ajax.Updater(div_target, url);
		} // end load_div()
		  
   		function load_song_queue() {
 			load_div("song_queue", "{% url music_player-display_song_queue_div %}");
		}

   		function load_song_search() {
 			load_div("song_search", "{% url music_player-song_search_div %}");
		}

   		function load_song_search_results() {
 			load_div("song_search_results", "{% url music_player-ajax-song_search_results %}");
		}
		
   		function request_song(song_id) {
			/*
			 * Fired when he user hits the Search button. Calls the validator
			 * and sends off an AJAX request if all is good.
			 */             
			new Ajax.Request('/request_song/' + song_id +'/', {
			    onSuccess: function(http_req) {
			        // Get a JSON object from the response string (from the server).
			        jsobj = http_req.responseText.evalJSON();
			        // See if there was a form processing error.
			        if (jsobj["is_error"] == false) {
			        	load_song_queue()
			        } else {
			            // Form validation error happened.
			            alert(jsobj["message"]);
			        }
			    },
			    onComplete: function() {
			}});
		}

		function periodically_update_queue() {
			new Ajax.PeriodicalUpdater('song_queue', '{% url music_player-display_song_queue_div %}', {
				  method: 'get', frequency: 8, decay: 1
				});		
		}
		
		function search_request() {
			/*
			 * Fired when he user hits the Search button. Calls the validator
			 * and sends off an AJAX request if all is good.
			 */             
			new Ajax.Updater('song_search_results', '{% url music_player-ajax-song_search_results %}', {
			    method: 'POST',
			    parameters: Form.serialize('song_form'),
			    onSuccess: function(http_req) {
			        // Get a JSON object from the response string (from the server).
			        jsobj = http_req.responseText.evalJSON();
			        // See if there was a form processing error.
			        if (jsobj["is_error"] == false) {
			        	
			        } else {
			            // Form validation error happened.
			            alert(jsobj["message"]);
			        }
			    },
			    onComplete: function() {
			}});
		}

   		function on_load() { 
   			load_song_queue();
   			load_song_search();
   			load_song_search_results()
   			periodically_update_queue()
		}

		window.onload=on_load();
		
   </script>
</head>

<body>

<div id="doc" class="yui-t3">
	<div id="hd" role="banner">
		<img src="{{MEDIA_URL}}img/jukebox.png" height="44px" width="32px" /> <h1>{{page_title}}</h1>
	</div>
  	<div id="bd" role="main">
		<div id="yui-main">
			<div class="yui-b">
				<div id="song_search" class="yui-g">
					{% include "song_search.html" %}
				</div>
				<div id="song_search_results" class="yui-g">
					{% include "song_results.html" %}
				</div>
				<div id="upload_tool" class="yui-g">
					{% include "song_upload.html" %}
				</div>
			</div>
		</div>
		<div id="song_queue" class="yui-b">
			{% include "song_list.html" %}
		</div>
	</div>
  	<div id="ft" role="contentinfo">
  		<p style='float:left;width:25%'>
  		  Powered by 
  		  <a href="http://code.google.com/p/django-jukebox/">Django JukeBox.</a>
  		</p>
  		<p style='float:left;width:75%;text-align:right'>
  		{% if request.user.is_authenticated %}
  		  Logged in as {{request.user}}.&nbsp;&nbsp;&nbsp; 
  		  <a href="{% url logout %}">[Logout]</a>
  		{% else %}
  		  Not logged in.&nbsp;&nbsp;&nbsp;
  		  <a href="{% url login %}">[Login]</a>
  		{% endif %}
  		</p>
  	</div>
</div>

</body>