<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
   <title>django-juke beta</title>
   <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
   <link rel="stylesheet" href="../../../media/css/default.css" type="text/css" />	
</head>
<body>
<div id="doc" class="yui-t3">
   <div id="hd" role="banner"><img src="../../../media/img/jukebox.png"></div>
	   	<div id="bd" role="main">
			<div id="yui-main">
				<div class="yui-b">
					<div id="search_tool" class="yui-g">
						<h2>SONG SEARCH</h2>
						<form>
						<input type="text" name="artist" id="id_artist" />
						<input type="submit" value="Search" />
						</form>
						Results (Click to request):<br />
						song - artist<br />
						song - artist<br />
						song - artist<br />
						song - artist<br />
					</div>
					<div id="upload_tool" class="yui-g">
						<h2>SONG UPLOAD</h2>
						<form>
						<input type="text" name="artist" id="id_artist" />
						<input type="submit" value="Browse..." />
						</form>
					</div>
				</div>
			</div>
			<div id="song_queue" class="yui-b">
				<h2>SONG LIST</h2>
				<ul>
					<li class="recently_played_track">Artist - Song</li>
					<li class="recently_played_track">Artist - Song</li>
					<li class="recently_played_track">Artist - Song</li>
					<li class="recently_played_track">Artist - Song</li>
					<li class="currently_playing_track">Artist - Song (3:42)</li>
					<li class="upcoming_requested_track">Artist - Song [mr. requester]</li>
					<li class="upcoming_requested_track">Artist - Song [mrs. requester]</li>
					<li class="upcoming_random_track">Artist - Song</li>
					<li class="upcoming_random_track">Artist - Song</li>
					<li class="upcoming_random_track">Artist - Song</li>
					<li class="upcoming_random_track">Artist - Song</li>
					<li class="upcoming_random_track">Artist - Song</li>
					<li class="upcoming_random_track">Artist - Song</li>
					<li class="upcoming_random_track">Artist - Song</li>
					<li class="upcoming_random_track">Artist - Song</li>
					<li class="upcoming_random_track">Artist - Song</li>
				</ul>
			</div>
		</div>
   <div id="ft" role="contentinfo"><p>GNU General Public License v3</p></div>
</div>
</body>
</html>
