{% extends "standard.html" %}

{% block extra_head %}
	<link rel="stylesheet" href="{{MEDIA_URL}}css/default.css" type="text/css" />
{% endblock %} 

{% block body %}
<div class="generic_section_header" class="yui-g">
<h2>Edit Song Details</h2>
  <form method='post'>
  <dl>
    <dt>File Name</dt>
    <dd>{{form.instance.file.name}}</dd>
    
    <dt>Artist</dt>
    <dd>{{form.artist}}</dd>
    
    <dt>Album</dt>
    <dd>{{form.album}}</dd>
    
    <dt>Title</dt>
    <dd>{{form.title}}</dd>
    
    <dt>Disc Number</dt>
    <dd>{{form.disc_number}}</dd>
    
    <dt>Track Number</dt>
    <dd>{{form.track_number}}</dd>
    
    <dt>&nbsp;</dt>
    <dd><input type="submit" value="Submit"></input></dd>
  </dl>
  </form>
</div>
{% endblock %}