{% extends "standard.html" %}

{% block extra_head %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/default.css" type="text/css" />
{% endblock %} 

{% block title %}Login{% endblock %}

{% block body %}
<div class="generic_section_header" class="yui-g">
  <h2>CHANGE PASSWORD</h2>
  <p>
    Because changing your password is cool, 'jo.
  </p>

  <div >
  <form method="POST"> {% csrf_token %}
    <table>
		{{form.as_table}}
	</table>
    <input class="button" type="submit" value="Change Password" />
  </form>  
  </div>
</div>
{% endblock %} 
