<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{% block page_title %}{{page_title}}{% endblock %}</title>
   
   <link rel="stylesheet" href="{{YUI_URL}}build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
   <link rel="stylesheet" href="{{YUI_URL}}build/base/base-min.css" type="text/css">   
   
   <script type="text/javascript" src="{{MEDIA_URL}}js/prototype.js"></script>
   {% block extra_head %}
   {% endblock %}
</head>

<body class="yui-skin-sam">
  <div id="doc" class="yui-t3">
    <div id="hd" role="banner">
        <img src="{{MEDIA_URL}}img/jukebox.png" height="44px" width="32px" /> 
        <h1>{{page_title}}</h1>
    </div>
    <div id="bd" role="main">
    {% block body %}
    {% endblock %}
    </div>
    <div id="ft" role="contentinfo">
        <p style='float:left;width:25%'>
          Powered by 
          <a href="http://code.google.com/p/django-jukebox/">Django JukeBox.</a>
        </p>
        <p style='float:left;width:75%;text-align:right'>
        {% if request.user.is_authenticated %}
          Logged in as {{request.user}}.&nbsp;&nbsp;&nbsp; 
          <a href="{% url logout %}">[Logout]</a>
        {% else %}
          Not logged in.&nbsp;&nbsp;&nbsp;
          <a href="{% url login %}">[Login]</a>
        {% endif %}
        </p>
    </div>
  </div>
</body>
</html>